/* Reset some basic elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Container for content */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    text-align: center;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.bio {
    background: rgba(255, 255, 255, 0.8); /* Light background with some transparency */
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 10px;
}

h1, h2 {
    color: #333;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

ul li {
    margin: 0 1rem;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #017cff;
}

.footer {
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.resume-button {
    display: inline-block;
    text-decoration: none;
    background: #017cff;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    ul {
        flex-direction: column;
    }
    .footer {
        flex-direction: column;
    }
}


.state {
    fill: lightgrey;
    stroke: black;
    stroke-width: 2;
    transition: fill 0.5s ease;
}


.transition {
    stroke: black;
    stroke-width: 2;
    fill: none;
    marker-end: url(#arrowhead);
}

#transition-1-2 {
    stroke-dasharray: 140;
    stroke-dashoffset: 140;
    animation: dash 1s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

/* Style for the arrowhead */
#arrowhead-1-2 {
    fill: black;
    transition: transform 1s linear;
}

button {
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 16px;
}

/* Active state styling */
.active {
    fill: green;
}

