/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.ingredient-selector {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

#recipes-container {
    border: 1px solid #ccc;
    padding: 10px;
}

.recipe {
    margin-bottom: 10px;
} */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.ingredient-selector {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

#recipes-container {
    border: 1px solid #ccc;
    padding: 10px;
}

.recipe {
    margin-bottom: 10px;
}

/* Add custom style for Select2 */
.select2-container--default .select2-selection--multiple {
    height: auto !important;
    min-height: 34px;
}

/* Style for the recipe modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    overflow-y: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Highlight effect for recipe on hover */
.recipe:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}