body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0ead6; /* Light beige background */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* White container background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
}

h1 {
    text-align: center;
    color: #5c4422; /* Dark brown heading color */
}

.ingredient-selector {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

#recipes-container {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff; /* White container background for recipes */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.recipe {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #efe8d1; /* Light yellow background for recipes */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.recipe:hover {
    background-color: #ffd699; /* Light orange background on hover */
    cursor: pointer;
}

/* Style for the recipe modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff; /* White modal background */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 600px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Darker shadow */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #5c4422; /* Dark brown on hover */
    text-decoration: none;
    cursor: pointer;
}

/* Add custom style for Select2 */
.select2-container--default .select2-selection--multiple {
    height: auto !important;
    min-height: 34px;
}
